<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension
        point="com.change_vision.astah.ui.actionSets">
        <actionSet
            label="%actionset_m2t_label"
            visible="true"
            id="jp.swest.ledcamp.m2t.actionSet">
            <menu
                id="m2t"
                label="%menu_m2t_group"
                path="tool/m2t">
            </menu>
            <action
                label="%menu_setting_label"
                icon="icons/sample.gif"
                class="jp.swest.ledcamp.actions.SettingAction"
                tooltip="%menu_setting_tooltip"
                menubarPath="tool/m2t/"
                id="jp.swest.ledcamp.actions.SettingAction">
            </action>
            <action
                label="%menu_generate_label"
                icon="icons/sample.gif"
                class="jp.swest.ledcamp.actions.GenerateAction"
                tooltip="%menu_generate_tooltip"
                menubarPath="tool/m2t/"
                id="jp.swest.ledcamp.actions.GenerateAction">
            </action>
            <menu
                id="ssh"
                label="%menu_ssh_group"
                path="tool/ssh">
            </menu>
            <action
                label="%menu_scp_label"
                icon="icons/sample.gif"
                class="jp.swest.ledcamp.actions.SCPAction"
                tooltip="%menu_scp_tooltip"
                menubarPath="tool/ssh/"
                id="jp.swest.ledcamp.actions.SCPAction">
            </action>
            <action
                label="%menu_ssh_invoke_label"
                icon="icons/sample.gif"
                class="jp.swest.ledcamp.actions.SSHInvokeAction"
                tooltip="%menu_ssh_invoke_tooltip"
                menubarPath="tool/ssh/"
                id="jp.swest.ledcamp.actions.SSHInvokeAction">
            </action>
            <action
                label="%menu_ssh_settings_label"
                icon="icons/sample.gif"
                class="jp.swest.ledcamp.actions.SSHSettingsAction"
                tooltip="%menu_ssh_settings_tooltip"
                menubarPath="tool/ssh/"
                id="jp.swest.ledcamp.actions.SSHSettingsAction">
            </action>
        </actionSet>
    </extension>   
</plugin>
