/.GenerateSetting.xtendbin
/.SettingDialog.xtendbin
/.SettingManager.xtendbin
/GenerateSetting.java
/SettingDialog.java
/SettingManager.java
/TemplateEngine.java
/TemplateMap.java
/TemplateType.java
/TextBinding.java
